# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Compiled output
dist/
tmp/
out-tsc/

# Logs and testing files
*.log
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swb
*.sw#
.DS_Store
ng-y18n.json
test.ts

# Dependency directories
dependencies/
docs/

# User-specific files
.idea/
*.suo
*.user
*.sln.docstates
.vscode/
*.sublime-project
*.sublime-workspace

# Build and test output
*.d.ts
*.map
*.js
*.js.map

# Angular CLI
e2e/protractor.conf.js
e2e/tsconfig.json
src/test.ts
karma.conf.js

# Terraform files
**/.terraform/
**/*.tfstate
**/*.tfstate.*.backup
**/*.tfstate.backup
**/*.tfstate.backup.*
**/*.tfvars
